services:
  agent:
    build:
      context: ./agent
    container_name: agent-container
    ports:
      - "8000:8000"
    env_file:
      - ./agent/.env
    networks:
      - agent-network

  chat-app:
    build:
      context: ./chat-app
    container_name: flask-app
    ports:
      - "5000:5000"
    env_file:
      - ./chat-app/.env
    volumes:
      - ./chat-app:/app
      # This ensures the PDFs downloaded from the agent stay in your local folder too
      - ./chat-app/static:/app/static 
    networks:
      - agent-network
    depends_on:
      - agent

networks:
  agent-network:
    driver: bridge
